.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
}
@media (min-width: 640px) {
  .card-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .card-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1280px) {
  .card-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
